<div class="container bg-light p-4">
    <div class="row">
        <div class="col-7 m-auto">
            <h1 class="text-center">Cadastro de Alunos</h1>
            <form [formGroup]="formGroupBook">
                <div class="mb-3">
                  <label for="InputNome" class="form-label">Titulo</label>
                  <input formControlName="titulo" type="text" class="form-control" id="InputNome" aria-describedby="nameHelp">
                  <div id="emailHelp" class="form-text">Digite titulo do livro</div>
                </div>
                <div class="mb-3">
                    <label for="InputCourse" class="form-label">Autor</label>
                    <input formControlName="autor" type="text" class="form-control" id="InputCourse" aria-describedby="CourseHelp">
                    <div id="emailHelp" class="form-text">Digite o autor do livro</div>
                  </div>
                  <div class="mb-3">
                    <label for="InputCourse" class="form-label">Editora</label>
                    <input formControlName="editora" type="text" class="form-control" id="InputCourse" aria-describedby="CourseHelp">
                    <div id="emailHelp" class="form-text">Digite a editora do livro</div>
                  </div>

                  <div class="mb-3">
                    <label for="InputCourse" class="form-label">Preço</label>
                    <input formControlName="preco" type="text" class="form-control" id="InputCourse" aria-describedby="CourseHelp">
                    <div id="emailHelp" class="form-text">Digite o preço do livro</div>
                  </div>
                  <button *ngIf="!isEditing"
                        
                           class="btn btn-primary"
                              (click)="save()">Salvar</button>
                              
                <button *ngIf="isEditing"
                        
                          class="btn btn-primary"
                                    (click)="update()">Atualizar</button>
                                    <button *ngIf="isEditing"
                                    
                                      class="btn btn-secondary ms-2" 
                                                (click)="clear()">Cancelar</button>
           
                <h2 class="text-center">Livros Cadastrados</h2>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Titulo</th>
                      <th scope="col">Autor</th>
                      <th scope="col">Editora</th>
                      <th scope="col">Preço</th>
                      <th scope="col">Remover</th>
                      <th scope="col">Alterar</th>
                     
                    </tr>
                  </thead>
                    <thead>
                      <tr *ngFor="let b of books">
                        <th scope="col">{{b.id}}</th>
                        <th scope="col">{{b.titulo}}</th>
                        <th scope="col">{{b.autor}}</th>
                        <th scope="col">{{b.editora}}</th>
                        <th scope="col">{{b.preco}}</th>
                        <td><button class="btn btn-danger" (click)="delete(b)">Remover</button></td>
                        <td><button class="btn btn-primary" (click)="onClickupdate(b)">Alterar</button></td>
                        
                       
                      </tr>
                    </thead>
                    <tbody>
                     
                    </tbody>
                  </table>
               
      
